@model PlayGroung.ViewModels.StudentOrderViewModel

@{
    ViewBag.Title = "Contact";
}

<h2>Contact</h2>

<table class="table">
    <tr>
        <th>
             Student ID
        </th>
        <th>
            Student Name
        </th>
        <th>
            Order
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.studentOrder) {
    <tr>
        <td>
          @item.Id
        </td>
        <td>
           @item.StudentName
        </td>
        <td>
           @item.Order
        </td>
    </tr>
}

</table>
